* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    background-color: #f0f0f0;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr;
    grid-template-rows: 2fr 1.5fr 3fr 3fr 1.5fr;
    gap: 10px;
    /* padding: 20px; */
    height: 100vh;
    grid-template-areas: 
        "header header header header"
        "aside article article article"
        "aside article article article"
        "aside div-img div-img div-img"
        "footer footer footer footer";
}

header {
    grid-area: header;
    background-color: #131176;
    color: white;
    padding: 10px;
}

.aside {
    grid-area: aside;
    background-color: #7f7e7e;
    color: white;
    /* padding: 20px; */
}

.article {
    
    grid-area: article;
    background-color: #bfbfbf;
    color: black;
    /* padding: 20px; */
}

.div-img {
    grid-area: div-img;
    background-color: #bfbfbf;
    color: black;
    /* display: flex;
    justify-content: space-around; */
    display: grid;
    grid-template-columns: 20% auto 20%;
    padding: 10px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    background-color: #8c8a8a;
    margin: 0 10px;
}
.img1 {
    background-color: #8c8a8a;
    margin: 0 10px;
}

.img2 {
    
    background-color: #8c8a8a;
    margin: 0 10px;
}


.footer {
    grid-area: footer;
    background-color: #131176;
    color: white;
    padding: 10px;
}

